@font-face {
	font-family: 'Century Gothic Regular';
	src: url('fonts/CenturyGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Century Gothic Bold';
	src: url('fonts/CenturyGothic-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html{
	margin: 0;
	padding: 0;
}
 body{
 	padding: 0;
 	width: 1200px;
 	margin: 0 auto;
 	box-sizing: border-box;

	font-family: "Century Gothic Regular", sans-serif;
 	font-size: 22px;
 	font-weight: normal;
 	line-height: 26px;

 	color: #634e41;
 	background-color: #ffffff;
 }
 .visually-hidden{ 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	margin: -1px; 
	border: 0; 
	padding: 0; 
	clip: rect(0 0 0 0); 
	overflow: hidden; 
}


.container{
	width: 1170px;
	margin: 0 auto;
}
.page-header {
	position: relative;
	background-image: url("img/top-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.page-header::before{
	position: absolute;
	content: '';
	top: 49px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #634e41;
}
.page-header::after{
	position: absolute;
	content: '';
	top: 97px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #634e41;
}
.page-header__nav{
	padding-top: 60px;
}
.page-header__nav-list{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.page-header__nav-link{
	color: #634e41;
	text-decoration: none;
}
.page-header__logo{
	display: block;
	margin: 113px auto 0 auto;
	padding-bottom: 200px;
}


.page-main__main-heading,
.page-main__main-sub,
.page-main__main-descr,
.page-main__about-heading,
.page-main__about-item,
.page-main__about-list,
.page-main__about-pros,
.page-main__about-sub,
.p0 {
	margin: 0;
	padding: 0;
}
.heading{
	font-size: 51px;
	font-family: Century Gothic Bold;
	line-height: 61px;
	text-transform: uppercase;
}

.page-main{
	position: relative;
}
.page-main__clouds{
	background-image: url("img/cloudd.png");
	background-position: center top;
	background-repeat: no-repeat;
	width: 1200px;
	height: 150px;
	transform: rotate(180deg);
	position: absolute;
	top: -149px;
	left: 0;
} 
.page-main__main{
	position: relative;
}
.page-main__main::before{
	position: absolute;
	content: '';
	top: 290px;
	left: -15px;
	width: 1200px;
	height: 810px;
	z-index: -1;
	background-image: url("img/kl-7.png");
	background-repeat: no-repeat;
	background-position: center;
}
.page-main__wrap {
	width: 590px;
	margin-left: 260px;
	padding-bottom: 50px;
}
.page-main__main-wrap {
	width: 395px;
	margin: 0 auto;
}
.page-main__main-heading {
	padding-top: 60px;
}
.page-main__main-sub{
	position: relative;
	text-align: right;
	padding-bottom: 28px;
	margin-bottom: 32px;
	font-size: 31px;
	line-height: 37px;
	color: #396D64;
}
.page-main__main-sub::before{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 395px;
	height: 1px;
	background-color: #5e4f44;
}
.page-main__main-descr{
	font-size: 20px;
	line-height: 24px;
}


.page-main__about{
	position: relative;
}
.page-main__about-wrap{
	width: 395px;
	margin-left: 360px;
}
.page-main__about-heading{
	padding-top: 73px;
}
.page-main__about-sub{
	position: relative;
	text-align: right;
	padding-top: 3px;
	padding-bottom: 30px;
	margin-bottom: 23px;
	font-size: 20px;
	line-height: 24px;
	color: #396D64;
}
.page-main__about-sub::before{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 395px;
	height: 1px;
	background-color: #5e4f44;
}
.page-main__about-pros{
	margin-bottom: 84px;
	text-align: center;
	font-weight: bold;
	font-size: 31px;
	line-height: 37px;
	color: #396D64;
}
.page-main__about-list{
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	list-style-type: none;
	margin: 0 123px;
	padding-bottom: 38px;
}
.page-main__about-item {
	position: relative;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 44px;
}
.page-main__about-item:nth-child(2n+1){
	text-align: left;
	padding-left: 25px;
}
.page-main__about-item:nth-child(2n){
	text-align: right;
	padding-right: 32px;
}
.page-main__about-item:nth-child(2n+1)::before{
	position: absolute;
	content: '';
	top: 8px;
	left: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #634E42;
}
.page-main__about-item:nth-child(2n)::before{
	position: absolute;
	content: '';
	top: 8px;
	right: 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #634E42;
}
.page-main__clouds-bottom {
	background-image: url("img/cloudd.png");
	background-position: center top;
	background-repeat: no-repeat;
	width: 1200px;
	height: 150px;
	position: absolute;
	bottom: -149px;
	left: -15px;
}


.page-main__new{
	padding-top: 177px;
	padding-bottom: 24px;
	background-color: #deddde;
}
.page-main__new-texts{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 70px 56px 70px;
}
.page-main__new-texts-text{
	flex-basis: 445px;
	text-align: center;
	color: #396D64;
}
.page-main__new-texts-text1 {
	margin-bottom: 28px;
}
.page-main__new-goods{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 70px;
}
.page-main__new-goods::before {
	position: absolute;
	content: '';
	top: -23px;
	left: -21px;
	width: 1103px;
	height: 961px;
	background-image: url("img/grid.png");
	background-position: center;
	background-repeat: no-repeat;
}
.page-main__new-img-cont{
	position: relative;
	margin-bottom: 52px;
}
.page-main__new-price{
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 20px;
	line-height: 24px;
	color: #396D64;
}


.page-main__sale {
	position: relative;
	padding-top: 59px;
	padding-bottom: 26px;
}
.page-main__sale::before{
	position: absolute;
	content: '';
	top: 115px;
	left: -15px;
	width: 1200px;
	height: 1478px;
	z-index: -1;
	background-image: url("img/kl-10.png");
	background-repeat: no-repeat;
	background-position: center;
}
.page-main__sale-text{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 55px 58px 55px;
}
.page-main__sale-texts{
	flex-basis: 445px;
	color: #634E42;
	text-align: center;
}
.page-main__sale-text1{
	margin-bottom: 28px;
}
.page-main__sale-text2{
	margin-bottom: 35px;
}
.page-main__sale-goods{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 55px;
}
.page-main__sale-img-cont{
	position: relative;
	margin-bottom: 51px;
}
.page-main__sale-price{
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 20px;
	line-height: 24px;
}



.page-main__photo{
	background-color: #e0dedf;
}
.page-main__photo-wrap{
	width: 395px;
	margin-left: 360px;
}
.page-main__photo-heading{
	padding-top: 50px;
}
.page-main__photo-sub{
	position: relative;
	text-align: right;
	padding-top: 3px;
	padding-bottom: 30px;
	margin-bottom: 23px;
	font-size: 20px;
	line-height: 24px;
	color: #396D64;
}
.page-main__photo-sub::before{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 395px;
	height: 1px;
	background-color: #634E42;
}
.page-main__photo-flex{
	display: flex;
	justify-content: space-between;
	margin: 58px 53px 0 53px;
}
.page-main__photo-texts{
	flex-basis: 535px;
	text-align: center;
	color: #396D64;
}
.page-main__photo-text2{
	margin-top: 20px;
	margin-bottom: 62px;
}
.page-main__photo-descr{
	margin-top: 2px;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	color: #396D64;
	padding-bottom: 66px;
}






.page-main__subscribe{
	background-image: url(img/kl-11.png);
	background-repeat: no-repeat;
	width: 1200px;
	height: 508px;
	top: 0;
	left: 0;
	padding-bottom: 69px;
}
.page-main__subscribe-wrap{
	width: 395px;
	margin-left: 360px;
}
.page-main__subscribe-heading{
	padding-top: 50px;
}
.page-main__subscribe-sub{
	position: relative;
	text-align: right;
	padding-top: 3px;
	padding-bottom: 30px;
	margin-bottom: 23px;
	font-size: 20px;
	line-height: 24px;
	color: #396D64;
}
.page-main__subscribe-sub::before{
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 395px;
	height: 1px;
	background-color: #634E42;
}
.page-main__subscribe-form{
	width: 700px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.page-main__subscribe-flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 22px;
}
.page-main__subscribe-name,
.page-main__subscribe-surname,
.page-main__subscribe-email{
	flex-basis: 295px;
	margin-bottom: 22px;
	padding: 5px 10px 5px 15px;
	border: 1px solid #634e42;
	font: inherit;
	box-sizing: border-box;
}
.page-main__subscribe-name::placeholder,
.page-main__subscribe-surname::placeholder,
.page-main__subscribe-email::placeholder{
	color: #634e42;
}
.page-main__subscribe-descr{
	width: 590px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 45px;
}
.page-main__subscribe-call{
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #396D64;
	margin-bottom: 20px;
}
.page-main__subscribe-email{
	margin: 0 auto;
}
.page-main__subscribe-submit{
	display: block;
	margin: 0 auto;
	width: 180px;
	padding: 5px 0;
	font: inherit;
	background-color: #634e42;
	color: #fff;
	border: none;
}


.page-main__map{
	padding-top: 60px;
	background-color: #e0dedf;
}
.page-main__map-adress{
	margin-top: 4px;
	padding-bottom: 55px;
	padding-right: 33px;
	text-align: right;
	color: #396D64;
	font-size: 20px;
	line-height: 24px;
}
.page-main__map-image{
	display: block;
	margin: 0 auto;
}



.page-footer{
	background-color: #e0dedf;
	padding-bottom: 43px;
}
.page-footer__flex{
	position: relative;
}
.page-footer__flex::before{
	position: absolute;
	content: '';
	background-color: #386d62;
	height: 1px;
	width: 36.75%;
	top: 27px;
	left: 30px;
}
.page-footer__flex::after{
	position: absolute;
	content: '';
	background-color: #386d62;
	height: 1px;
	width: 36.75%;
	top: 27px;
	right: 30px;
}
.page-footer__socials{
	width: 205px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.page-footer__email{
	margin-top: 12px;
	text-align: center;
	color: #396D64;
	font-size: 20px
}